.checkbox{
    position: relative;
    display: flex;

    & [type="checkbox"]{
        all: unset;
        position: absolute;
        inset: 0;
        cursor: pointer;
    }

    & .checkbox-img{
        flex: 0 0 1.7rem;
        height: 1.7rem;
        transition: .5s;
        
        background-image: url(../icons/checkbox-default.svg);
    }

    &:hover, &:focus-within{
        .checkbox-img{
            background-image: url(../icons/checkbox-default-hover.svg);
        }
    }

    &:has(:checked) .checkbox-img{
        background-image: url(../icons/checkbox.svg);
    }
}